.body{
    background: rgb(48,81,60);
    background: linear-gradient(90deg, rgba(48,81,60,1) 0%, rgba(72,173,88,1) 53%, rgba(99,212,113,1) 100%);
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    grid-gap: 25px;
    @media (max-width:767px) {
        display: flex;
        flex-direction: column;
    }
    img{
        margin-top: 1rem;
        margin-bottom: 2rem;
        overflow: hidden;
        border-radius: 20px;
        padding: .6rem;
        width: 400px;
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
        height: 400px;
        transition: all ease-in-out .5s;
        &:hover{
            scale: 1.2;
        }
    }
    .graph{
        display: grid;
        grid-template-columns: 2 ,1fr;
        gap: 25px;
        grid-gap: 25px;
        width: 100%;
    }
}
